a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	text-decoration: none;
}

a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #3300FF;
	text-decoration: none;
}



.tablacabecera {
	background-color: #CCCCCC;
	clear: none;
	float: none;
	padding: 3px;
	border-top: 1px solid #000000;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 1px solid #000000;


}
.tablaprincipal {
	background-color: #E2DBE3;
	padding: 15px;
	filter: Shadow(Color=#000000, Direction=2);
	margin: 10px;
	border-top: 1px solid #666666;
	border-right: 2px solid #333333;
	border-bottom: 2px solid #333333;
	border-left: 1px solid #666666;



}
.tabladocumento {
	background-color: #EEEEEE;
	padding: 15px;
	border-top: 1px solid #666666;
	border-right: 2px solid #333333;
	border-bottom: 2px solid #333333;
	border-left: 1px solid #666666;
	filter: Shadow(Color=#000000, Direction=2);
}

.tdhead {
	background-color: #CCCCCC;
	border-top: 1px solid #000000;
	border-right: 2px solid #000000;
	border-bottom: 0px solid #000000;
	border-left: 1px solid #000000;

}
.tdmensaje {
	background-color: #FFFFFF;
	border-top: 1px solid #000000;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 1px solid #000000;
	margin: 5px;
	padding: 5px;
}
