blconfig.h
build
*.conf
*.depends
*.pot_list
actualizabulmacont
actualizabulmafact
applications/
bgtrml2pdf.py
bulmasetup.py
CMakeCache.txt
CMakeFiles
config.py
creabulmacont
creabulmafact
create_gettext_files
create_message_catalog
installbulmages-db
install_manifest.txt
local_blI18n.h
Makefile
menu/
update_message_catalog_lang
version
applications
*.o
moc_*.cxx
ui_*.h
*.po
*.gmo
*.so*
*.pot
