body {margin:0px; color:#ffffff; height:inherit; background-color:#000000; background:url(img/body-bg.png) repeat;}

a, a:hover, a:visited {text-decoration:none}



div#header {position:absolute; float:left; margin-left:10%; width:80%; height:90px; padding:0px; border:0px; color:#ffffff; background:url('img/logo.png') left top no-repeat; background-color:#5f7f98; text-align:right; vertical-align:bottom;}

div#section_title {height:100%; vertical-align:bottom; margin-right:2em;}

div#navbar {z-index: 1; position:absolute; width:20%; top:90px; background:#ffffff; color:#5f7f98; left:10%; bottom:0px;}

div#navbar_title {background-color:#81afc8; height:30px; width:100%;}

div#navbar * {margin:2px;}

div#navbar div {width:100%; margin:0px; color:#5f7f98;}

div#navbar a:link, div#navbar a:visited, div#navbar a:hover {text-decoration:none;}
div#navbar a:hover div {background-color:#5f7f98; color:#ffffff;}

div#contents {position:absolute; left:30%; width:60%; top:90px; color:#000000; background:url('img/ULcorner.png') left top no-repeat; background-color:#A6C5E7; } 

div#contents_margins {margin-left:1em; margin-right:1em;}

table.news {width:100%;}
table.news tr.head td {background-color:#81afc8;}
table.news tr td {background-color:#ffffff; color:#000000}

