Source: bulmages
Section: kde
Priority: optional
Maintainer: René Mérou <ochominutosdearco@yahoo.es>
Build-Depends: debhelper (>= 4.0.0), qtlib, postgress, postgress_dev
Standards-Version: 3.6.1

Package: bulmages
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Spanish accounting program
Acounting and other busines management features for litle an midle emprises
