Source: bulmages
Section: kde
Priority: optional
Maintainer: Bulmages-pkg-debian <bulmages-pkg-debian@lists.berlios.de>
Uploaders: Tomeu Borràs Riera <tborras@conetxia.com>, Leopold Palomo Avellaneda <leo@alaxarxa.net>, Iker Salmón San Millán <shaola@esdebian.org>, Otilio Santos Martinez <otilio@apdo.com>
Build-Depends: debhelper (>= 5.0.37.2), qt4-dev-tools (>= 4.3.1), libqt4-qt3support (>= 4.3.1), libqt4-dev, python, python-support (>= 0.3), python-qt4 (>= 4.7.4), libpq-dev, cmake (>=2.6.0), libqtwebkit4
Standards-Version: 3.7.3
Homepage: http://www.iglues.org
XS-Vcs-Svn: svn://svn.berlios.de/bulmages/trunk/debian
XS-Vcs-Browser: http://svn.berlios.de/wsvn/bulmages/trunk/debian/

Package: bulmages
Architecture: any
Depends: ${shlibs:Depends}, python, python-qt4 (>= 4.7.4), libqtscript4-gui (>= 0.1.0)
Recommends: bulmages-servers-admin (>= 0.13), bulmacont (>= 0.13), bulmafact (>= 0.13), bulmatpv (>= 0.13)
Description: Accounting and invoicing programs for Spanish SMEes
 This package provides the entire Bulmages financial suite for Spanish
 SMEs.  Bulmages includes an accounting program (bulmacont), an invoicing
 program (bulmafact), a Point of Sale (POS) program, an administration programs,
 a launcher and documentation.
 .
 This program is made in an open community, you are welcome to join us.

Package: bulmacont
Architecture: any
Depends: ${shlibs:Depends}, python-reportlab, python, python-qt4 (>= 4.7.4), postgresql-client (>= 8.2.0), python-ooolib, libooolib-perl, bulmages
Recommends: bulmages-servers-admin
Replaces: bulmacont-plugins
Description: Spanish accounting program
 This package helps with the accounting task for small or medium sized 
 enterprises with statistics and the usual procedures.
 .
 This program is made in an open community, you are welcome to join us.

Package: bulmafact
Architecture: any
Depends: ${shlibs:Depends}, python-reportlab, python, python-qt4 (>= 4.7.4), postgresql-client (>= 8.2.0),  postgresql-contrib, bulmages
Suggests: bulmages-servers-admin
Replaces: bulmfact-plugins
Description: Spanish invoicing program
 This package helps to manage the invoicing of small or medium sized enterprises.
 .
 This program is made in an open community, you are welcome to join us.

Package: bulmatpv
Architecture: any
Depends: ${shlibs:Depends}, python-reportlab, python, postgresql-client (>= 8.2.0), bulmages
Recommends: bulmages-servers-admin
Replaces: bulmatpv-plugins
Description: Spanish invoicing program 
 This package contains a Point of Sale (POS) program for a small or medium 
 sized enterprises.
 .
 This program is made in an open community, you are welcome to join us.


Package: bulmages-servers-admin
Architecture: all
Depends: ${shlibs:Depends}, postgresql-client (>= 8.2.0),python-psycopg2, postgresql (>= 8.2.0), bulmages
Conflicts: bulmacont-server (<= 0.10), bulmafact-server (<= 0.10), bulmages-server (<= 0.11), bulmages-admin (<= 0.11)
Replaces: bulmages-admin, bulmages-servers
Description: Spanish accounting program server
 This package helps with the accounting tasks for small or medium sized 
 enterprises with statistics and the usual procedures.
 .
 This package includes the database server initialization scripts and  
 the bulmasetup program.
 .
 This program is made in an open community, you are welcome to join us.

