Source: bulmages
Section: kde
Priority: optional
Maintainer: René Mérou <ochominutosdearco@gmail.com>
Uploaders: Tomeu Borràs Riera <tborras@conetxcia.com>, Miguel Gea Milvaques <xerakko@debian.org>, Leopold Palomo Avellaneda <leo@alaxarxa.net>
Build-Depends: debhelper (>= 5.0.37.2), qt4-dev-tools(>= 4.1.4), libqt4-qt3support(>= 4.1.4), libqt4-dev, python,  python-support (>= 0.3), libpq-dev, quilt, cmake (>=2.4.8)
Standards-Version: 3.7.3
Homepage: http://www.iglues.org
XS-Vcs-Svn: svn://svn.berlios.de/bulmages/trunk/debian
XS-Vcs-Browser: http://svn.berlios.de/wsvn/bulmages/trunk/debian/

Package: bulmages
Architecture: any
Depends: ${shlibs:Depends}, bulmages-common (>= 0.11), bulmages-admin (>=0.11), bulmacont (>= 0.11), bulmages-docs (>= 0.11), bulmafact (>= 0.11), bulmages-servers (>= 0.11)
Description: Accounting and invoicing programs for Spanish little businesses
 This package provides the entire Bulmages financial suite for Spanish
 businesses.  Bulmages includes an accounting program (bulmacont), an invoicing
 program (bulmafact), administration programs, and documentation.
 .
 This program is made in an open community, you are welcome to join us.

Package: bulmages-admin
Architecture: any
Depends: ${shlibs:Depends}, postgresql-client (>= 8.1.0), bulmages-common (>= 0.5.9)
Description: Small GUI to launch some management programs for little businesses
 This package helps to start BulmaCont, and when available BulmaFact and 
 BulmaTPV.
 .
 This package gives a GUI to manage the creation of new databases for new 
 enterprises.
 .
 This program is made in an open community, you are welcome to join us.

Package: bulmages-common
Architecture: all
Depends: ${shlibs:Depends}, python2.4-imaging, kpdf, python
Description: Bulmages invoicing and accounting, config and common stuff
 The config file bulmages.conf for all the bulmages programs.

Package: bulmages-doc
Section: doc
Architecture: all
Depends: ${shlibs:Depends}
Description: Bulmages invoicing and accounting documentation files
 Documentation files for bulmages invoicing and accounting programs.
 .
 This documentation is made in an open community, you are welcome to join us.

Package: bulmacont
Architecture: any
Depends: ${shlibs:Depends}, python-reportlab, python, postgresql-client (>= 8.1.0), bulmages-admin (>= 0.11), bulmages-common (>= 0.11)
Recommends: bulmages-servers
Description: Spanish accounting program
 This package helps with the accounting task for small or medium sized 
 businesses with statistics and the usual procedures.
 .
 This program is made in an open community, you are welcome to join us.

Package: bulmafact
Architecture: any
Depends: ${shlibs:Depends}, python-reportlab, python, postgresql-client (>= 8.1.0), bulmages-admin (>= 0.11), bulmages-common (>= 0.11)
Recommends: bulmages-servers
Description: Spanish invoicing program
 This package helps to manage the invoicing of small or medium sized businesses
 in Spain.
 .
 This program is made in an open community, you are welcome to join us.

Package: bulmatpv
Architecture: any
Depends: ${shlibs:Depends}, python-reportlab, python, postgresql-client (>= 8.1.0), bulmages-common (>= 0.11)
Recommends: bulmages-admin, bulmages-servers
Description: Spanish invoicing program 
 This package contains a Point of sale (POS) program for a small or medium 
 sized businesses in Spain.
 .
 This program is made in an open community, you are welcome to join us.



Package: bulmages-servers
Architecture: all
Depends: ${shlibs:Depends}, postgresql-client (>= 8.1.0), bulmages-common (>= 0.11), postgresql (>= 8.1.0)
Conflicts: bulmacont-server (<= 0.10), bulmafact-server (<= 0.10)
Description: Spanish accounting program server
 This package helps with the accounting tasks for small or medium sized 
 businesses with statistics and the usual procedures.
 .
 This package includes the database server initialization scripts.
 .
 This program is made in an open community, you are welcome to join us.

Package: libbulmalib0.11-dev
Conflicts: libbulmalib-1-dev,libbulmalib0
Section: libdevel
Architecture: any
Depends: libbulmalib1, ${shlibs:Depends}
Description: bulmages headers for development
 Bulmages is invoicing and accounting for small businesses.
 .
 In this package you can find all files needed for a developer
 environment (Headers, plus shared library).

Package: libbulmalib0.11
Conflicts: libbulmalib-1,libbulmalib0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: bulmages headers (runtime)
 Bulmages is invoicing and accounting for small businesses.
 .
 In this package you can find the shared library, necessary for
 execution environments.

Package: bulmacont-plugins
Architecture: any
Depends: ${shlibs:Depends}, bulmacont (>= 0.11.0), python-ooolib
Description: plugins collection for Bulmages.
 Provides a optional plugin collection for bulmacont. 
 Some of them need a patched database, so read the README file.
 .
 Bulmages is an accounting and invoicing programs for Spanish little business.
 It includes an accounting program (bulmacont), an invoicing program 
 (bulmafact), administration programs and documentation.

Package: bulmafact-plugins
Architecture: any
Depends: ${shlibs:Depends}, bulmafact (>= 0.11.0)
Description: plugins collection for Bulmafact.
 Provides a optional plugin collection for bulmafact. 
 Some of them need a patched database, so read the README file.
 .
 Bulmages is an accounting and invoicing programs for Spanish little business.
 It includes an accounting program (bulmacont), an invoicing program 
 (bulmafact), administration programs and documentation.

Package: bulmatpv-plugins
Architecture: any
Depends: ${shlibs:Depends}, bulmatpv (>= 0.11.0)
Description: plugins collection for Bulmatpv
 Provides a optional plugin collection for bulmatpv. 
 Some of them need a patched database, so read the README file.
 .
 Bulmages is an accounting and invoicing programs for Spanish little business. 
 It includes an accounting program (bulmacont), an invoicing program 
 (bulmafact), administration programs and documentation.
