#!/usr/bin/make -f

# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.


# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# shared library versions, option 1
#version=0.11~svn2389
#major=1


CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	#This part should be looked when prepare the relase
	#tar xzf bulmages-stable.tar.gz
	#mv bulmages-stable bulmages
	#$(MAKE) -f /usr/share/quilt/quilt.make patch

	# Add here commands to configure the package.
# 	( cd bulmages; qmake-qt4 -recursive)
# 	( cd bulmages/bulmalib; qmake-qt4 -recursive )
# 	( cd bulmages/bulmalib/src; qmake-qt4 -recursive )
# 	( cd bulmages/bulmalib/plugins; qmake-qt4 )
# 	( cd bulmages/bulmafact/plugins ; qmake-qt4 )
# 	( cd bulmages/bulmafact/src; qmake-qt4 )
# 	( cd bulmages/bulmacont/src; qmake-qt4 )
# 	( cd bulmages/bulmacont/plugins; qmake-qt4 )

	cd bulmages; mkdir build.debian; cd build.debian; cmake ../ -DCMAKE_INSTALL_PREFIX=/usr \
	-DCMAKE_SHARED_LINKER_FLAGS="-Wl,--as-needed" \
	-DCMAKE_MODULE_LINKER_FLAGS="-Wl,--as-needed" \
	-DCMAKE_EXE_LINKER_FLAGS="-Wl,--as-needed";

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	cd bulmages/build.debian; $(MAKE) -j2 VERBOSE=1;
	#dh_install bulmages/installbulmages/libbulmalib.so.$(version) \
	#	debian/tmp/usr/lib ;
	# (cd debian/tmp/usr/lib ; ln -sf libbulmalib.so.$(version) \
	# libbulmalib.so.0.5 ; ln -sf libbulmalib.so.$(version) \
	# libbulmalib.so.0; ln -sf libbulmalib.so.$(version) libbulmalib.so )

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

#	Add here commands to clean up after the build process.
	-rm -rf bulmages/build.debian
# 	[ ! -d bulmages ] || rm -Rf bulmages
# 	$(MAKE) -f /usr/share/quilt/quilt.make unpatch
	dh_clean 

install: build

	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/tmp
	cd bulmages/build.debian; $(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	
	#####################
	#here put the install files

	dh_compress


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs debian/README.*Debian 
	dh_installexamples
	dh_install --sourcedir=debian/tmp
	dh_pysupport
#	dh_install 

	dh_installdebconf	

	install -D -o root -g root -m 0644 debian/bulmacont.lintian $(CURDIR)/debian/bulmacont/usr/share/lintian/overrides/bulmacont


	dh_installmenu

	dh_installman 	-pbulmacont debian/tmp/usr/share/man/bulmacont.1
	dh_installman 	-pbulmacont debian/tmp/usr/share/man/bulmacont.conf.1  
	dh_installman 	-pbulmafact debian/tmp/usr/share/man/bulmafact.1
	dh_installman 	-pbulmafact debian/tmp/usr/share/man/bulmafact.conf.1  
	dh_installman 	-pbulmatpv debian/tmp/usr/share/man/bulmatpv.1
	dh_installman 	-pbulmatpv debian/tmp/usr/share/man/bulmatpv.conf.1
	dh_installman  	-pbulmages debian/tmp/usr/share/man/bulmages.1
	dh_installman  	-pbulmages-common debian/tmp/usr/share/man/bulmages.conf.1
	dh_installman 	-pbulmages-common debian/tmp/usr/share/man/bgtrml2pdf.1
	dh_installman  	-pbulmages-admin debian/tmp/usr/share/man/bulmasetup.1

	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms

	dh_installdeb
	dh_makeshlibs
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

