 BODY  { background: darkred ; color: yellow }

 /* balanc de situació */

.titolbalancsituacio { text-transform: uppercase; font-size: xx-large; text-align: center }
.actiupassiubalancsituacio { font-size: large; text-align: center; padding: 2em }
.nivell1 { text-indent: 3em }
.nivell2 { text-indent: 6em }
.nivell3 { text-indent: 9em }
.dosdecimals { text-align: right }
.totalbalancsituacio { text-transform: uppercase; font-size: large }

/* llistat d'iva */

.titoliva { text-transform: uppercase; font-size: xx-large; text-align: center }
.titolcolumnaiva { font-size: large; text-align: center }
.assentamentiva
.dataiva
.contrapartidaiva
.descripcioiva
.baseimponibleiva { text-align: right }
.tipusiva { text-align: right }
.quotaiva { text-align: right }
.facturaiva
.cifiva

/* balanc */

.titolbalanc2 { text-transform: uppercase; font-size: xx-large; text-align: center }
.periodebalanc { font-size: large; text-align: center }
.titolcolumnabalanc { text-decoration: underline; font-size: large; text-align: center }
.comptebalanc { }
.assentamentbalanc { }
.dosdecimals { text-align: right }

/* diari */

.titoldiari { text-transform: uppercase; font-size: xx-large; text-align: center }
.periodediari { font-size: large; text-align: center }
.titolcolumnadiari { text-decoration: underline; font-size: large; text-align: center }
.assentamentdiari { }
.datadiari { }
.codicomptediari { }
.descripciodiari { }
.dosdecimals { text-align: right }
.titoldiariapren { text-transform: uppercase; font-size: xx-large; text-align: center }
.periodediariapren { }
.liniadiariapren { vertical-align: super }
.deurediariapren { text-align: right }
.codidiariapren { }
.nomcomptediariapren { }
.adiariapren { }
.nomcomptediariapren { }
.codidiariapren { }
.haverdiariapren { text-align: right }


/* llibre major */

.titolmajor { text-transform: uppercase; font-size: xx-large; text-align: center }
.periodemajor { font-size: large; text-align: center }
.comptemajor { font-size: x-large; padding: 2em }
.tipuscomptemajor { text-decoration: underline; font-size: large; }
.titolcolumnamajor { font-size: large; text-align: center }
.sumamajor { text-align: right }
.dosdecimals { text-align: right }
.assentamentmajor { }
.contrapartidamajor { }

/* Pèrdues i Guanys */

.titolperduesiguanys { text-transform: uppercase; font-size: xx-large; text-align: center }
.deurehaverperduesiguanys { font-size: large; text-align: center; padding: 2em }
.nivell1 { text-indent: 3em }
.nivell2 { text-indent: 6em }
.nivell3 { text-indent: 9em }
.nivell4 { text-indent: 12em }







