QTableView {
    font-size: 8px;
}

QTabWidget {
    font-size: 8px;
}

QWidget {
    font-size: 10px;
/*    margin:0px;
    padding:0px;
*/
}

QTableWidgetItem {
/*    margin-top: 0px;
    padding-top: 0px;
*/
}


QHeaderView {
border: 1px solid #6c6c6c;
padding-left: 0px;
margin-left : 0px;
font-size: 8px;
}

#BlTableWidgetItem {
    color: #FF0000;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    border: 0px solid #00FF00;
}

